<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>icon</key>
			<string>icon_history.png</string>
			<key>label</key>
			<string>观看记录</string>
			<key>action</key>
			<string>gotoHistory</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_vip.png</string>
			<key>label</key>
			<string>VIP充值</string>
			<key>action</key>
			<string>gotoVIP</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string>icon_kf.png</string>
			<key>label</key>
			<string>在线客服（9:00 - 21:00）</string>
			<key>action</key>
			<string>gotoKF</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_aboutus.png</string>
			<key>label</key>
			<string>关于我们</string>
			<key>action</key>
			<string>gotoAbout</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_faq.png</string>
			<key>label</key>
			<string>常见问题</string>
			<key>action</key>
			<string>gotoFaq</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string>icon_upgrade.png</string>
			<key>label</key>
			<string>检测更新</string>
			<key>action</key>
			<string>checkVersion</string>
			<key>value</key>
			<string>version</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_clean_cache.png</string>
			<key>label</key>
			<string>清空缓存</string>
			<key>action</key>
			<string>clearCache</string>
		</dict>
	</array>
</array>
</plist>
