<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>TV 猫</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>29.png</string>
		<string>29@2x.png</string>
		<string>29@3x.png</string>
		<string>40.png</string>
		<string>40@2x.png</string>
		<string>50.png</string>
		<string>50@2x.png</string>
		<string>57.png</string>
		<string>57@2x.png</string>
		<string>60.png</string>
		<string>60@2x.png</string>
		<string>60@3x.png</string>
		<string>72.png</string>
		<string>72@2x.png</string>
		<string>76.png</string>
		<string>76@2x.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>hnapp-erp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>用于拍照片或拍视频</string>
	<key>NSContactsUsageDescription</key>
	<string>用于保存联系人信息</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>用于获取跟位置相关的数据</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>用于获取跟位置相关的数据</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>用于获取相册图片</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
